*.dep
*.o
*.lo
*.la
*.loT
.libs/
build/
Makefile.fragments
Makefile.objects
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
configure
configure.ac
configure~
libtool
modules/
run-tests.php

# Customer
*.log
*.db
*.elf

